In [32]:
import pandas as pd

In [33]:
NUM_TEST_EXAMPLES = 204

In [34]:
df = pd.read_csv('evaluation_results-mar_27_5pm.csv')
df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
df.head(1)

,query_file,query_type,target_embedding_type,smallest_k_matched
0,EX_SPEC_TEMPLATE_sw_1_0_s_1_0_oc_query1.png,imgs,text,979

In [35]:
for k in range(1, 11):
    column_name = f'k_{k}'
    df[column_name] = df.smallest_k_matched
    df[column_name] = df[column_name].apply(lambda x: 1 if x <= k else 0)

In [36]:
df.groupby(['query_type', 'target_embedding_type']).count().reset_index().head(1)

,query_type,target_embedding_type,query_file,smallest_k_matched,k_1,k_2,k_3,k_4,k_5,k_6,k_7,k_8,k_9,k_10
0,alt,image,204,204,204,204,204,204,204,204,204,204,204,204

In [42]:
agg = df.groupby(['query_type', 'target_embedding_type']).sum().reset_index()

for k in range(1, 11):
    column_name = f'k_{k}'
    agg[column_name] = agg[column_name] / NUM_TEST_EXAMPLES

/var/folders/gt/f9y6f2l93wj459z7zbwd4gc80000gq/T/ipykernel_56173/978388710.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  agg = df.groupby(['query_type', 'target_embedding_type']).sum().reset_index()

In [44]:
agg.to_csv('k-accuracy-of_evaluation_results-mar_27_5pm.csv', index=False)